<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vai Corinthians</h1>
        <p>Total Arrecadado: {{ donation }}</p>
        <p>Meta: {{ goal }}</p>
        <p>Percentual da Meta Alcançado: {{ percentage }}</p>

        <h2>Gráfico: Total Arrecadado vs Tempo</h2>
        <img src="{{ url_for('graph') }}" alt="Total Arrecadado vs Time">
    </div>
</body>
</html>
